@(title: String = "", user: Option[model.user.User] = None)(content: Html)
@import model.orga._
@import model.user._
@import securesocial.core.providers.utils.RoutesHelper

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="@routes.Orga.index()"><i class="glyphicons home"></i></a>
            <a class="brand" href="#">@title</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                @for(ligue <- Ligue.ligues) {
                    <li><a href="@routes.Orga.ligue(ligue.shortName)"> @ligue.shortName</a></li>
                    @for(comite <- ligue.comites) {
                        <li><a href="@routes.Orga.comite(ligue.shortName, comite.shortName)"> @comite.shortName</a></li>
                    }
                }
                </ul>
                <ul class="nav pull-right">
                    <li>
                        <a href="@routes.Event.event()">
                            <i class="glyphicons calendar"></i>
                            @Messages("title.events")
                        </a>
                    </li>
                    <li>
                        <a href="@routes.Contact.contact()">
                            <i class="glyphicons envelope"></i>
                            @Messages("title.contacts")
                        </a>
                    </li>
                    @user.map(u => navbar.user(u))
                </ul>
            </div>
        </div>
    </div>
</div>

