@(startForm:Form[String])(implicit request: RequestHeader)
@import helper._
@import securesocial.core.IdentityProvider
@import securesocial.core.providers.utils.RoutesHelper

@layout.main( Messages("securesocial.password.title") ) {
    <div class="container well well-small">
        @request.flash.get("error").map(msg => tags.alert()(Html(msg)))

        <form action="@RoutesHelper.handleStartResetPassword().absoluteURL(IdentityProvider.sslEnabled)"
              class="form" method="POST">
            <fieldset>
                <legend>@Messages("securesocial.password.title")</legend>
                <div class="controls mandatory">
                    <div class="input-prepend">
                        <span class="add-on"><i class="glyphicons envelope"></i></span>
                        <input type="email" id="email" name="email" value="@startForm("email").value.map(v => v)" class="input-xlarge" placeholder="@Messages("securesocial.signup.email1")" autofocus>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">@Messages("securesocial.password.reset")</button>
                    <a class="btn" href="@RoutesHelper.login()">@Messages("securesocial.signup.cancel")</a>
                </div>
            </fieldset>
        </form>
    </div>
}
