@(comite: model.orga.Comite, user: model.user.User)

<div class="well well-small">
    <div class="page-header">
        <h1>@comite.name</h1>
    </div>
    <div class="hidden-phone">
    @comite.info.map(tags.info(_))
    </div>

    <a class="btn btn-primary pull-right" target="_blank" href="@routes.RankingComite.comitePDF(comite.ligue.shortName,comite.shortName).toString.replaceFirst("https://","http://")">
        <i class="glyphicons download_alt"></i>
        @Messages("rank.download.pdf")
    </a>

    @for(event <- comite.events) {
        @tags.eventLink(event, showInfo = false) {
        }
    }
</div>
