@(comite: model.orga.Comite, user: model.user.User)

@script = {
    @layout.script()
    @tags.javascript("sammy")
    @tags.javascript("knockout")
    @tags.javascript("comite")
}
@layout.main(comite.name, user=Some(user), scripts=script) {
    <div class="container">
        <div class="row-fluid">
            <div class="span3 well well-small">
                <ul id="leftMenu" class="nav nav-list">
                    <li data-bind="css: { active: samPath() == '#comite'}">
                        <a class="sammy" href="#comite">@comite.name</a>
                    </li>
                    <li class="nav-header">@Messages("menu.rank")</li>
                    <li data-bind="css: { active: samPath() == '#single'}">
                        <a class="sammy" href="#single">@Messages("menu.rank.men")</a>
                    </li>
                    <li data-bind="css: { active: samPath() == '#women'}">
                        <a class="sammy" href="#women">@Messages("menu.rank.women")</a>
                    </li>
                    <li data-bind="css: { active: samPath() == '#junior'}">
                        <a class="sammy" href="#junior">@Messages("menu.rank.junior")</a>
                    </li>
                    <li data-bind="css: { active: samPath() == '#double'}">
                        <a class="sammy" href="#pair">@Messages("menu.rank.double")</a>
                    </li>
                    <li data-bind="css: { active: samPath() == '#team'}">
                        <a class="sammy" href="#team">@Messages("menu.rank.team")</a>
                    </li>
                    <li class="nav-header">@Messages("menu.club")</li>
                    @for(club <- comite.clubs) {
                        <li data-bind="css: { active: samPath() == '#club/@club.shortName'}">
                            <a class="sammy" href="#club/@club.shortName">@club.name</a>
                        </li>
                    }
                    <li class="nav-header">@Messages("menu.tournaments")</li>
                    @for(tournament <- comite.tournaments) {
                        <li data-bind="css: { active: samPath() == '#tour/@tournament.shortName'}">
                            <a class="sammy" href="#tour/@tournament.shortName">
                            @tournament
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <div class="span9">
                <div id="bodyComite"></div>
            </div>
        </div>
    </div>
}
