@(comite: model.orga.Comite, user: model.user.User)

@layout.main(comite.name, user=Some(user)) {
    <div class="container">
        <div class="row-fluid">
            <div class="span3 well well-small">
                <ul class="nav nav-list">
                    <li>
                        <a href="#" data-href="@routes.Orga.comiteBody(comite.ligue.shortName, comite.shortName)" data-target="#bodyComite" class="autoClick">
                            @comite.name
                        </a>
                    </li>
                    <li class="nav-header">@Messages("menu.rank")</li>
                    <li>
                        <a id="single" href="#single" data-href="@routes.Classements.comiteSingle(comite.ligue.shortName, comite.shortName)" data-target="#bodyComite">
                        @Messages("menu.rank.men")
                        </a>
                    </li>
                    <li>
                        <a id="women"  href="#women" data-href="@routes.Classements.comiteFeminine(comite.ligue.shortName, comite.shortName)" data-target="#bodyComite">
                        @Messages("menu.rank.women")
                        </a>
                    </li>
                    <li>
                        <a id="junior" href="#junior" data-href="@routes.Classements.comiteJunior(comite.ligue.shortName, comite.shortName)" data-target="#bodyComite">
                        @Messages("menu.rank.junior")
                        </a>
                    </li>
                    <li>
                        <a id="pair" href="#pair" data-href="@routes.Classements.comiteDoublette(comite.ligue.shortName, comite.shortName)" data-target="#bodyComite">
                        @Messages("menu.rank.double")
                        </a>
                    </li>
                    <li>
                        <a id="team"  href="#team" data-href="@routes.Classements.comiteTeam(comite.ligue.shortName, comite.shortName)" data-target="#bodyComite">
                        @Messages("menu.rank.team")
                        </a>
                    </li>
                    <li class="nav-header">@Messages("menu.club")</li>
                    @for(club <- comite.clubs) {
                        <li>
                            <a href="@routes.Orga.club(comite.ligue.shortName, comite.shortName, club.shortName)" data-target="#bodyComite">
                            @club.name
                            </a>
                        </li>
                    }
                    <li class="nav-header">@Messages("menu.tournaments")</li>
                    @for(tournament <- comite.tournaments) {
                        <li>
                            <a id="@tournament.shortName" href="#@tournament.shortName" data-href="@routes.Orga.comiteTournament(comite.ligue.shortName, comite.shortName, tournament.shortName)" data-target="#bodyComite">
                            @tournament
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <div class="span9">
                <div id="bodyComite"></div>
            </div>
        </div>
    </div>
}
