@(loginForm: Form[(String, String)])(implicit request: RequestHeader)

@import securesocial.core.IdentityProvider
@import securesocial.core.providers.utils.RoutesHelper
@import helper._

    @implicitFieldConstructor = @{
        FieldConstructor(securesocial.views.html.inputFieldConstructor.f)
    }

<form action="@RoutesHelper.authenticateByPost("userpass").absoluteURL(IdentityProvider.sslEnabled)"
    class="form" autocomplete="off" method="POST">
    <fieldset>
        <legend>@Messages("securesocial.login.useEmailAndPassword")</legend>
        <div class="controls mandatory">
            <div class="input-prepend">
                <span class="add-on"><i class="glyphicons envelope"></i></span>
                <input type="email" id="username" name="username" value="@loginForm("username").value.map(v => v)" class="input-xlarge" placeholder="@Messages("securesocial.signup.email1")">
            </div>
        </div>
        <div class="controls mandatory">
            <div class="input-prepend">
                <span class="add-on"><i class="glyphicons keys"></i></span>
                <input type="password" id="password" name="password" value="@loginForm("password").value.map(v => v)" class="input-xlarge" placeholder="@Messages("securesocial.signup.password1")">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">@Messages("securesocial.login.title")</button>
        <div class="form-actions">
            <a class="btn btn-primary" href="@RoutesHelper.startSignUp()">
                <i class="glyphicons pen"></i>
                @Messages("securesocial.login.signup.here")
            </a>
            <a class="btn" href="@RoutesHelper.startResetPassword()">
            @Messages("securesocial.login.forgotPassword")
            </a>
        </div>
    </fieldset>
</form>

