@(ligue: model.orga.Ligue, user: model.user.User)

<div class="well well-small">
    <div class="page-header">
        <h1>@ligue.name</h1>
    </div>
    <div class="hidden-phone">
        @ligue.info.map(tags.info(_))
    </div>

    <a class="btn btn-primary pull-right" target="_blank" href="./@ligue.shortName/ranking.pdf">
        <i class="glyphicons download_alt"></i>
        @Messages("rank.download.pdf")
    </a>

    @for(event <- ligue.events) {
        @tags.eventLink(event) {
        }
    }
</div>
