@(ligue: model.orga.Ligue, ranking: model.rank.SeasonDoubleRanking, user: model.user.User)
@import model.orga._

<table class="table table-striped table-bordered rank">
    <caption>@Messages("rank.double.ligue.caption", ligue.name, ranking.season)</caption>
    <thead>
        <tr>
            <th></th>
            <th>@Messages("rank.name")</th>
            <th>@Messages("rank.club")</th>
            @for(tournament <- ranking.tournaments) {
                @tournament match {
                    case CoupeLigue(_,_) => {
                        <th>
                            <abbr title="@Messages("rank.ligue.coupe.title", tournament.ligue.name)">
                            @Messages("rank.ligue.coupe")
                            </abbr>
                        </th>
                    }
                    case OpenLigue(_,_) => {
                        <th>
                            <abbr title="@Messages("rank.ligue.open.title", tournament.ligue.name)">
                            @Messages("rank.ligue.open")
                            </abbr>
                        </th>
                    }
                    case MasterLigue(_,_) => {
                        <th>@tags.abbr("rank.ligue.master")</th>
                    }
                    case ComiteRank(comite,_) => {
                        <th>
                            <abbr title="@Messages("rank.ligue.comite.rank.title", comite.name)">
                            @Messages("rank.ligue.comite.rank", comite.shortName)
                            </abbr>
                        </th>
                    }
                    case ComiteCoupeLigue(comite) => {
                        <th>
                            <abbr title="@Messages("rank.ligue.comite.coupe.title", comite.name)">
                            @Messages("rank.ligue.comite.coupe", comite.shortName)
                            </abbr>
                        </th>
                    }
                    case _ => {}
                }
            }
            <th>@tags.abbr("rank.point")</th>
        </tr>
    </thead>
    <tbody>
    @for(rank <- ranking.ranks) {
        <tr>
            <td>@ranking.getPosition(rank)</td>
            <td>@rank.participant</td>
            <td>@rank.participant.clubAsString</td>
            @for(tournament <- ranking.tournaments) {
                <td>
                @if(rank.results.contains(tournament)) {
                    @tournament.getPoint(rank.results(tournament))
                }
                </td>
            }
            <td>@rank.points</td>
        </tr>
    }
    </tbody>
</table>
