@(ligue: model.orga.Ligue)

@layout.main(ligue.name) {
    <div class="container">
        <div class="row-fluid">
            <div class="span3 well well-small">
                <ul class="nav nav-list">
                    <li>
                        <a href="@routes.Application.ligueBody(ligue.shortName)" data-target="#bodyLigue" class="autoClick">
                        @ligue.name
                        </a>
                    </li>
                    <li class="nav-header">@Messages("menu.rank")</li>
                    <li>
                        <a id="single" href="@routes.Classements.ligueSingle(ligue.shortName)" data-target="#bodyLigue">
                        @Messages("menu.rank.men")
                        </a>
                    </li>
                    <li>
                        <a id="women" href="@routes.Classements.ligueFeminine(ligue.shortName)" data-target="#bodyLigue">
                        @Messages("menu.rank.women")
                        </a>
                    </li>
                    <li>
                        <a id="junior" href="@routes.Classements.ligueJunior(ligue.shortName)" data-target="#bodyLigue">
                        @Messages("menu.rank.junior")
                        </a>
                    </li>
                    <li>
                        <a id="pair" href="@routes.Classements.ligueDoublette(ligue.shortName)" data-target="#bodyLigue">
                        @Messages("menu.rank.double")
                        </a>
                    </li>
                    <li>
                        <a id="team" href="@routes.Classements.ligueTeam(ligue.shortName)" data-target="#bodyLigue">
                        @Messages("menu.rank.team")
                        </a>
                    </li>
                    <li class="nav-header">@Messages("menu.comite")</li>
                    @for(comite <- ligue.comites) {
                        <li>
                            <a href="@routes.Application.comite(ligue.shortName, comite.shortName)">@comite.name</a>
                        </li>
                    }
                    <li class="nav-header">@Messages("menu.tournaments")</li>
                    @for(tournament <- ligue.tournaments; if tournament.isEvent) {
                        <li>
                            <a id="@tournament.shortName" href="@routes.Application.ligueTournament(ligue.shortName, tournament.shortName)" data-target="#bodyLigue">
                                @tournament
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <div class="span9">
                <div id="bodyLigue"></div>
            </div>
        </div>
    </div>
}
