@(ligue: model.orga.Ligue, user: model.user.User)(implicit request: RequestHeader)

@script = {
    @layout.script()
    @tags.javascript("sammy")
    @tags.javascript("knockout")
    @tags.javascript("ligue")
}

@layout.main(ligue.name, user = Some(user),  scripts = script) {
    <div class="container">
        <div class="row-fluid">
            <div class="span3 well well-small">
                <ul id="leftMenu" class="nav nav-list">
                    <li data-bind="css: { active: samPath() == '#ligue'}">
                        <a href="#ligue">@ligue.name</a>
                    </li>
                    <li class="nav-header">@Messages("menu.rank")</li>
                    <li data-bind="css: { active: samPath() == '#single'}">
                        <a href="#single">@Messages("menu.rank.men")</a>
                    </li>
                    <li data-bind="css: { active: samPath() == '#women'}">
                        <a href="#women">@Messages("menu.rank.women")</a>
                    </li>
                    <li data-bind="css: { active: samPath() == '#junior'}">
                        <a href="#junior">@Messages("menu.rank.junior")</a>
                    </li>
                    <li data-bind="css: { active: samPath() == '#pair'}">
                        <a href="#pair">@Messages("menu.rank.double")</a>
                    </li>
                    <li data-bind="css: { active: samPath() == '#team'}">
                        <a href="#team" >@Messages("menu.rank.team")
                        </a>
                    </li>
                    <li class="nav-header">@Messages("menu.comite")</li>
                    @for(comite <- ligue.comites) {
                        <li>
                            <a href="@routes.Orga.comite(ligue.shortName, comite.shortName)">@comite.name</a>
                        </li>
                    }
                    <li class="nav-header">@Messages("menu.tournaments")</li>
                    @for(tournament <- ligue.tournaments; if tournament.isEvent) {
                        <li data-bind="css: { active: samPath() == '#tour/@tournament.shortName'}">
                            <a href="#tour/@tournament.shortName">@tournament</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="span9">
                <div id="bodyLigue"></div>
            </div>
        </div>
    </div>
}
