@(title: String, navbar:Html= Html(""), scripts: Html = script())(content: Html)
<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("style/main.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("ico/favicon.png")">

        @* Fonts *@
        <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
    </head>
    @* Body *@
    <body>
        @navbar

        <div class="container well well-small">
        @content
        </div>

        @scripts
    </body>
</html>
