@(title: String, user: Option[model.user.User] = None, scripts: Html = script())(content: Html)
<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="@routes.Assets.at("style/main.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("ico/favicon.png")">

        <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono|Ubuntu:400,700' rel='stylesheet' type='text/css'>
    </head>

    <body>
        @navbar.empty(title, user)
        @content

    <footer class="footer">
        <div class="container">
            <ul class="footer-links">
                <li>
                    <a href="http://www.ffdarts.com/" target="_blank">
                        <img src="@routes.Assets.at("images/FFD.png")" alt="FFD"/>
                    </a>
                </li>
                <li>
                    <a href="http://www.bdodarts.com/" target="_blank">
                        <img src="@routes.Assets.at("images/BDO.png")" alt="BDO">
                    </a>
                </li>
                <li>
                    <a href="http://www.dartswdf.com/" target="_blank">
                        <img src="@routes.Assets.at("images/WDF.png")" alt="WDF"/>
                    </a>
                </li>
            </ul>
        </div>
    </footer>
        @scripts
    </body>
</html>
