@(years: List[model.event.EventYear], now: org.joda.time.LocalDate = org.joda.time.LocalDate.now)
@import org.joda.time.LocalDate
@import model.event._

    @eventTitle(date: LocalDate) = {
        <strong>@tags.date(date)</strong>
    }
    @eventContent(event: Event) = {
        <div>
            <span class="label label-@event.eventType.style">@Messages(s"event.type.${event.eventType.style}")</span>
            <strong>@event.name</strong>
            @event.info.map(tags.info(_))
        </div>
    @if(event.location.isDefined) {
        @tags.location(event.location.get)
    }
    }

    @eventsContent(events: Seq[Event]) = {
    @for(event <- events) {
        @eventContent(event) <br>
    }
    }

    @today(date: LocalDate) = {
        @if(date.isEqual(now)) {today} else {
            @if(date.isBefore(now)) {muted}
        }
    }

    @displayDay(year: EventYear, month: EventMonth, day: EventDay) = {
    @day match {
        case Nope => {
            <td class="nope">&nbsp;</td>
        }
        case EmptyDay(d) => {
            <td class="empty @today(d) @if(day.holiday){holiday}">@d.getDayOfMonth</td>
        }
        case EventsDay(d, events) => {
            @if(events.size == 1) {
                <td class="event @today(d) @events.head.eventType.style">
                    @d.getDayOfMonth
                    <div class="hidden title">@eventTitle(d)</div>
                    <div class="hidden content">@eventContent(events.head)</div>
                </td>
            } else {
                <td class='event @today(d) @events.map(_.eventType.style).toSet.mkString(" ")'>
                    @d.getDayOfMonth
                    <div class="hidden title">@eventTitle(d)</div>
                    <div class="hidden content">@eventsContent(events)</div>
                </td>
            }
        }
        case _ => {
            <td></td>
        }
    }
    }

    @displayMonth(year: EventYear, month: EventMonth) = {
        <table class="table table-bordered calendar">
            <thead>
                <tr>
                    <th colspan="7">@month - @year</th>
                </tr>
                <tr>
                    <th>@tags.abbr("day.monday")</th>
                    <th>@tags.abbr("day.tuesday")</th>
                    <th>@tags.abbr("day.wednesday")</th>
                    <th>@tags.abbr("day.thrusday")</th>
                    <th>@tags.abbr("day.friday")</th>
                    <th>@tags.abbr("day.saturday")</th>
                    <th>@tags.abbr("day.sunday")</th>
                </tr>
            </thead>
            <tbody>
            @for(week <- month.weeks) {
                <tr>
                @for(day <- week.days) {
                    @displayDay(year, month, day)
                }
                </tr>
            }
            </tbody>
        </table>
    }


<div class="page-header">
    <h1>@Messages("title.events")</h1>
</div>
<p class="lead">@Html(Messages("event.mention"))</p>

<ul class="unstyled well well-small hide-print">
    <li>
        <a href="@routes.Assets.at("files/calendrier_2013-2014.pdf")" target="_blank">
            <i class="glyphicons download_alt"></i>
            Calendrier 2013-2014
            <span class="label label-important">PDF</span>
        </a>
    </li>
    <li>
        <a href="@routes.Assets.at("files/calendrier_2013-2014.xlsx")" target="_blank">
            <i class="glyphicons download_alt"></i>
            Calendrier 2013-2014
            <span class="label label-success">Excel</span>
        </a>
    </li>
</ul>

<ul class="inline calendar">
@for(year <- years) {
    @for(month <- year.months) {
        <li>@displayMonth(year, month)</li>
    }
}
</ul>
