@(years: List[model.event.EventYear])
@import java.util.Calendar
@import model.event._
@import util._

    @eventTitle(year:Year, month:Month, day:Day) = {
        <strong>
            @{
                val cal = Calendar.getInstance()
                cal.set(Calendar.YEAR, year.year)
                cal.set(Calendar.MONTH, month.month)
                cal.set(Calendar.DATE, day.day)
                tags.date(cal)
            }
        </strong>
    }
    @eventContent(event: Event) = {
        <div>
            <span class="label label-@event.eventType.style">@Messages(s"event.type.${event.eventType.style}")</span>
            <strong>@event.name</strong>
        </div>
        @if(event.location.isDefined) { <div>@tags.location(event.location.get)</div>}
    }

    @eventsContent(events: Seq[Event]) = {
        @for(event <- events) {
            @eventContent(event) <br>
        }
    }

    @displayDay(year: EventYear, month: EventMonth, day: EventDay) = {
        @day match {
            case Nope => {
                <td class="nope">&nbsp;</td>
            }
            case EmptyDay(d) => {
                <td class="empty">@d</td>
            }
            case EventsDay(d, events) => {
                @if(events.size == 1) {
                    <td class="event @events.head.eventType.style">
                        @d
                        <div class="hidden title">@eventTitle(year.year, month.month, d)</div>
                        <div class="hidden content">@eventContent(events.head)</div>
                    </td>
                } else {
                    <td class='event @events.map(_.eventType.style).toSet.mkString(" ")'>
                        @d
                        <div class="hidden title">@eventTitle(year.year, month.month, d)</div>
                        <div class="hidden content">@eventsContent(events)</div>
                    </td>
                }
            }
            case _ => {
                <td></td>
            }
        }
    }

    @displayMonth(year: EventYear, month: EventMonth) = {
        <table class="table table-bordered calendar">
            <thead>
                <tr>
                    <th colspan="7">@month - @year</th>
                </tr>
            </thead>
            <tbody>
            @for(week <- month.weeks) {
                <tr>
                @for(day <- week.days) {
                    @displayDay(year, month, day)
                }
                </tr>
            }
            </tbody>
        </table>
    }


<h1>@Messages("title.events")</h1>
<p class="lead">@Html(Messages("event.mention"))</p>

<ul class="inline calendar">
@for(year <- years) {
    @for(month <- year.months) {
        <li>@displayMonth(year, month)</li>
    }
}
</ul>
