@(years: List[model.event.EventYear])
@import model.event._

    @eventTitle(event: Event) = {
        <span class="label label-@event.eventType.style">@Messages(s"event.type.${event.eventType.style}")</span>
    @event.name
        <small>@tags.date(event.from) - @tags.date(event.to)</small>
    }
    @eventContent(event: Event) = {
        <div class="detail">
            <div class="links">
                @event.url.map(tags.site(_))
                @event.email.map(tags.email(_))
            </div>
            <div>@event.location.map(tags.location(_))</div>
            @event.info.map(tags.info(_))
        </div>
    }
    @eventsTitle(events: Seq[Event]) = {
    @for(event <- events) {
        <span class="label label-@event.eventType.style">@Messages(s"event.type.${event.eventType.style}")</span>
        @event.name
        <small>@tags.date(event.from) - @tags.date(event.to)</small> <br>
    }
    }
    @eventsContent(events: Seq[Event]) = {
    @for(event <- events) {
        <div class="detail">
            <div class="links">
                @event.url.map(tags.site(_))
                @event.email.map(tags.email(_))
            </div>
            <div>@event.location.map(tags.location(_))</div>
            @event.info.map(tags.info(_))
        </div> <br>
    }
    }

    @displayDay(year: EventYear, month: EventMonth, day: EventDay) = {
    @day match {
        case Nope => {
            <td class="nope">&nbsp;</td>
        }
        case EmptyDay(d) => {
            <td class="empty">@d</td>
        }
        case EventsDay(d, events) => {
            @if(events.size == 1) {
                <td class="event @events.head.eventType.style"
                data-html="true"
                data-year="@year.year.year"
                data-month="@month.month.month"
                data-month="@d.day">@d
                    <div class="hidden title">@eventTitle(events.head)</div>
                    <div class="hidden content">@eventContent(events.head)</div>
                </td>
            } else {
                <td class="event rainbow"
                data-html="true"
                data-year="@year.year.year"
                data-month="@month.month.month"
                data-month="@d.day">@d
                    <div class="hidden title">@eventsTitle(events)</div>
                    <div class="hidden content">@eventsContent(events)</div>
                </td>
            }
        }
        case _ => {
            <td></td>
        }
    }
    }

    @displayMonth(year: EventYear, month: EventMonth) = {
        <table class="table table-bordered calendar">
            <thead>
                <tr>
                    <th colspan="7">@month - @year</th>
                </tr>
            </thead>
            <tbody>
            @for(week <- month.weeks) {
                <tr>
                @for(day <- week.days) {
                    @displayDay(year, month, day)
                }
                </tr>
            }
            </tbody>
        </table>
    }


<h1>@Messages("title.events")</h1>
<p class="lead">@Html(Messages("event.mention"))</p>

<ul class="inline calendar">
@for(year <- years) {
    @for(month <- year.months) {
        <li>@displayMonth(year, month)</li>
    }
}
</ul>
