@()

@script = {
    @layout.script()
    @tags.javascript("events")
}
@layout.main(Messages("title.events"), scripts = script) {
    <div class="container">
        <div class="row-fluid">
            <div class="span3 well well-small">
                <ul class="nav nav-list">
                    <li class="nav-header">@Messages("menu.event.view")</li>
                    <li>
                        <a class="autoClick" href="#" data-href="@routes.Event.eventsList()" data-target="#bodyEvents">
                        @Messages("menu.event.list")
                        </a>
                    </li>
                    <li>
                        <a id="calendar" href="#calendar" data-href="@routes.Event.eventsCalendar()" data-target="#bodyEvents">
                        @Messages("menu.event.calendar")
                        </a>
                    </li>
                </ul>
            </div>
            <div class="span9 well well-small">
                <div id="bodyEvents"></div>
            </div>
        </div>
    </div>
}
