@(ligue: model.orga.Ligue, comite: model.orga.Comite, ranking: model.rank.SeasonRanking)

    @Abbr(key: String) = {
        <abbr title="@Messages(s"$key.title")">@Messages(key)</abbr>
    }

<table id="classement" class="table table-striped table-bordered rank">
    <caption>@Messages("rank.team.caption", ranking.season)</caption>
    <thead>
        <tr>
            <th></th>
            <th>@Messages("rank.team")</th>
            <th>@Abbr("rank.team.point")</th>
            <th class="hidden-phone">@Abbr("rank.team.day")</th>
            <th>@Abbr("rank.team.win")</th>
            <th>@Abbr("rank.team.loose")</th>
            <th>@Abbr("rank.team.draw")</th>
            <th>@Abbr("rank.team.fail")</th>
            <th class="hidden-phone">@Abbr("rank.team.match.win")</th>
            <th class="hidden-phone">@Abbr("rank.team.match.loose")</th>
            <th>@Abbr("rank.team.diff")</th>
        </tr>
    </thead>
    <tbody>
    @for(teamRank <- ranking.ordered) {
        <tr>
            <td>@ranking.getPosition(teamRank)</td>
            <td>
                <span class="hidden-phone">@teamRank.team.club.name</span>
                @teamRank.team.name
            </td>
            <td>@teamRank.points</td>
            <td class="hidden-phone">@teamRank.days</td>
            <td>@teamRank.win</td>
            <td>@teamRank.loose</td>
            <td>@teamRank.draw</td>
            <td>@teamRank.fail</td>
            <td class="hidden-phone">@teamRank.plus</td>
            <td class="hidden-phone">@teamRank.minus</td>
            @if(teamRank.diff > 0) {
                <td class="pos">@teamRank.diff </td>
            } else {
                <td class="neg">@teamRank.diff </td>
            }
        </tr>
    }
    </tbody>
</table>
