@import "bootstrap/variables";
@import "bootstrap/mixins";

a.auth {
  img {
    width: 128px;
    height: 128px;
    margin-right: 1em;

    &:hover {
      .box-shadow(4px 4px 24px @gray);
    }
  }
}
