// Main Style

// Imports
@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";
@import "bootstrap/bootstrap.less";
@import "bootstrap/responsive.less";
@import "glyphicons/glyphicons-boostrap.less";

// Bases

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  background-image: url("../images/dartboard-1.jpg");
  font-family: 'Ubuntu', sans-serif;
}

/* Wrapper for page content to push down footer */
#wrap {
  margin: 0 auto -62px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 62px;
}

#footer {
  text-align: center;
  border-top: 2px solid @grayLight;
  background-color: @grayLighter;

  .footer-links {
    margin: 10px 0;
    li {
      display: inline;
      padding: 0 30px;

      &:first-child {
        padding-left: 0;
      }

      a img {
        height: 48px;
      }
    }
  }
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

#wrap > .container {
  padding-top: 60px;
}

@media (max-width: 480px) {
  #wrap > .container {
    padding-top: 0;
  }
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

dl {
  margin-bottom: 0;
}

.links {
  margin: .5em;
}

// Default
.mono {
  font-family: "Ubuntu Mono", monaco, monospace;
}

.page-header {
  margin-bottom: 0;
}

.win {
  color: @green;
}

.loose {
  color: @red;
}

.draw {
  color: @grayDark;
}

.alert {

  a {
    color: @errorText !important;
  }
}

.location {
  margin-top: 0.5em;
}

.info {
  font-size: 80%;
  padding-left: 1em;
  background-color: @white !important;
}

// MenuBar
.brand {
  img {
    height: 1em;
  }
  img.avatar {
    height: 1.5em;
  }
}

.nav li img {
  height: 1em;
}

// Left Menu
.nav.nav-list {
  li a {
    cursor: pointer;
  }
}

// Tables
table.table {
  background-color: #fff;
  box-shadow: 0px 0px 16px 1px #fff;

  caption {
    margin-bottom: -4px;
    font-size: 1.5em;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);

    background-color: #f9f9f8;
    padding: .5em;
    border-radius: 4px;
    box-shadow: 0px 0px 16px 1px #fff;
  }

  th, td {
    text-align: center;
  }
}

@import "ranking.less";

// Forms
@import "forms.less";

// Match Detail
@import "detail.less";

// Events
@import "events.less";

// Home
@import "home.less";

// Print
@import "print.less";

// Auth
@import "auth.less";
