// Main Style

// Imports
@import "bootstrap/bootstrap.less";
@import "bootstrap/responsive.less";
@import "glyphicons/glyphicons-boostrap.less";

// Base
body {
  background-image: url("../images/dartboard-1.jpg");
  font-family: 'Ubuntu', sans-serif;

  margin-top: 60px;
}

@media (max-width: 979px) {
  body {
    margin-top: 0;
  }
}

// Default
.mono {
  font-family: "Ubuntu Mono", monaco, monospace;
}

// MenuBar
.brand {
  img {
    height: 1em;
  }
}

.nav li img {
  height: 1em;
}

// Tables
table.table {
  background-color: #fff;
  box-shadow: 0px 0px 16px 1px #fff;

  caption {
    margin-bottom: -4px;
    font-size: 32px;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);

    background-color: #f9f9f8;
    padding: .5em;
    border-radius: 4px;
    box-shadow: 0px 0px 16px 1px #fff;
  }

  th, td {
    text-align: center;
  }
}

@import "ranking.less";
