@(ranking: model.rank.SeasonParticipantRanking, caption: String, href: Call, player:Option[model.orga.Player])(implicit request: RequestHeader)
@import model.orga._

<table class="table table-striped table-bordered rank">
    <caption>
        @caption
        <a class="btn btn-primary pull-right" target="_blank" href="@href.absoluteURL(secure = false)">
            <i class="glyphicons download_alt"></i!>
            @Messages("rank.download.pdf")
        </a>
    </caption>
    <thead>
        <tr>
            <th></th>
            <th>@Messages("rank.name")</th>
            <th>@Messages("rank.club")</th>
            @for(tournament <- ranking.tournaments) {
                <th class="hidden-phone">
                @tournament match {
                    case cl: CoupeLigue => {
                        @tags.abbr("rank.ligue.coupe")
                    }
                    case ol: OpenLigue => {
                        @tags.abbr("rank.ligue.open")
                    }
                    case ml: MasterLigue => {
                        @tags.abbr("rank.ligue.master")
                    }
                    case cr: ComiteRank => {
                        @tags.abbr("rank.ligue.comite.rank")
                    }
                    case nt: NationalTournament => {
                        @tags.abbr(s"rank.ligue.national.${nt.shortName.toLowerCase}")
                    }
                    case cc: CoupeComite => {
                        <abbr title="@Messages("rank.comite.coupe.title", tournament.maybyComite.get.name)">
                        @Messages("rank.comite.coupe")
                        </abbr>
                    }
                    case oc: OpenClub => {
                        <abbr title="@Messages("rank.comite.open.title", oc.club.name)">
                        @Messages("rank.comite.open", oc.club.shortName)
                        </abbr>
                    }
                    case _ => {}
                }
                </th>
            }
            <th>@Messages("rank.point")</th>
        </tr>
    </thead>
    <tbody>
    @for((rank, index) <- ranking.ordered.zipWithIndex) {
        <tr class="@if(index % 2 == 0) {odd} else {even} @if(rank.isCurrent(player)){current}">
            <td>
            @defining(ranking.getPosition(rank)) { pos =>
                @if(ranking.qualified(pos)) {
                    <span class="badge badge-info">@pos</span>
                } else {
                    <span class="badge">@pos</span>
                }
            }
            </td>
            <td class="left">@rank.participant</td>
            <td>@rank.participant.clubAsString</td>
            @for(tournament <- ranking.tournaments) {
                <td class="hidden-phone">
                @if(rank.results.contains(tournament)) {
                    @tournament.getPointAsString(rank.results(tournament))
                }
                </td>
            }
            <td>@rank.points</td>
        </tr>
    }
    </tbody>
</table>
