@(caption: String, ranking: model.rank.SeasonTeamRanking, path: Call, player:Option[model.orga.Player])(implicit request: RequestHeader)
@import model.orga.Team
@import model.team.MatchDetail

<table class="table table-striped table-bordered rank team">
    <caption>
        @caption
        <a class="btn btn-primary pull-right" target="_blank" href="@path.absoluteURL(secure = false)">
            <i class="glyphicons download_alt"></i>
            @Messages("rank.download.pdf")
        </a>
    </caption>
    <thead>
        <tr>
            <th></th>
            <th>@Messages("rank.team")</th>
            <th>@tags.abbr("rank.point")</th>
            <th class="hidden-phone">@tags.abbr("rank.team.day")</th>
            <th class="hidden-phone">@tags.abbr("rank.team.win")</th>
            <th class="hidden-phone">@tags.abbr("rank.team.loose")</th>
            <th class="hidden-phone">@tags.abbr("rank.team.draw")</th>
            <th class="hidden-phone">@tags.abbr("rank.team.fail")</th>
            <th class="hidden-phone">@tags.abbr("rank.team.match.win")</th>
            <th class="hidden-phone">@tags.abbr("rank.team.match.loose")</th>
            <th>@tags.abbr("rank.team.diff")</th>
        </tr>
    </thead>
    <tbody>
    @for(teamRank <- ranking.ordered) {
        <tr class="@if(teamRank.isCurrent(player)){current}"">
            <td><span class="badge badge-info">@ranking.getPosition(teamRank)</span></td>
            <td>@teamRank.team.name</td>
            <td>@teamRank.points</td>
            <td class="hidden-phone">@teamRank.days</td>
            <td class="hidden-phone">@teamRank.win</td>
            <td class="hidden-phone">@teamRank.loose</td>
            <td class="hidden-phone">@teamRank.draw</td>
            <td class="hidden-phone">@teamRank.fail</td>
            <td class="hidden-phone">@teamRank.plus</td>
            <td class="hidden-phone">@teamRank.minus</td>
            @if(teamRank.diff > 0) {
                <td class="pos">@teamRank.diff </td>
            } else {
                @if(teamRank.diff < 0) {
                <td class="neg">@teamRank.diff </td>
                } else {
                <td>@teamRank.diff </td>
                }
            }
        </tr>
    }
    </tbody>
</table>
