@(ligue: model.orga.Ligue, m: model.team.PlannedTeamMatch, user: model.user.User)
@import model.team._
@import model.orga._
<!DOCTYPE html>

    @displayTeam(team: Team, num:Int) = {
        <div data-bind="with: team@{num}">
            <div data-bind="visible: ! $root.started()">
                <label class="block">@Messages("team.detail.players")</label>
                @for(i <- 1 to 4) {
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on">@i</span>
                        <input type="text" id="p@i-@team.shortName" class="input-large"
                            data-bind="value: player@i,
                                       disable: $root.started,
                                       typeahead: remainingPlayers,
                                       event: {focus: unregister, blur: register}">
                    </div>
                </div>
                }

                <label class="block">@Messages("team.detail.doublettes")</label>
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on">1</span>
                        <input type="text" id="d1-@team.shortName" class="input-xlarge"
                            data-bind="value: d1, disable: $root.started">
                    </div>
                </div>
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on">2</span>
                        <input type="text" id="d2-@team.shortName" class="input-xlarge"
                            data-bind="value: d2, disable: $root.started">
                    </div>
                </div>
            </div>

            <div id="team@num-subst" data-bind="visible: !$root.started() || psubs() ">
                <label class="block">@Messages("team.detail.substitute")</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="text" id="psubs-@team.name" class="input-large"
                            data-bind="value: psubs,
                                       disable: $root.started,
                                       typeahead: remainingPlayers,
                                       event: {focus: unregister, blur: register}">
                        <button class="btn susbtitue" type="button"
                            data-bind="click: substitue, visible: $root.started() && psubs() ">
                            <i class="glyphicons refresh"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }

    @displayMatch(i: Int) = {
        <div class="match">
            <div class="head">@Messages("team.detail.match", i)</div>
            <div class="player">
                @if(TeamMatchDetail.isPlayer1Start(i)) {
                    <i class="glyphicons asterisk"></i>
                }
                <span id="t1-p@TeamMatchDetail.getPlayer1Index(i)"></span>
            </div>
            <div class="legs">
                <table class="table table-bordered match">
                    <tr>
                        <td class="active"></td>
                        <td class="inactive"></td>
                        <td class="inactive"></td>
                    </tr>
                    <tr>
                        <td class="active"></td>
                        <td class="inactive"></td>
                        <td class="inactive"></td>
                    </tr>
                </table>
            </div>
            <div class="player">
                @if(!TeamMatchDetail.isPlayer1Start(i)) {
                    <i class="glyphicons asterisk"></i>
                }
                <span id="t1-p@TeamMatchDetail.getPlayer1Index(i)"></span>
            </div>
        </div>
    }


<html>
    <head>
        <title>@Messages("team.detail.title", m)</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="@routes.Assets.at("style/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("ico/favicon.png")">

        <link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono|Ubuntu:400,700' rel='stylesheet' type='text/css'>
    </head>

    <body>
        <div class="container well well-small">
            <h1>
                @Messages("championship.day.caption",m.day) -
                <span>@m.team1</span>
                vs.
                <span>@m.team2</span>
            </h1>
            <form data-bind="submit: send">
                <fieldset>
                    <div class="row-fluid">
                        <div class="span10">
                            <div class="controls controls-row">
                                <label class="span1" for="day">@Messages("team.detail.day")</label>
                                <span type="text" id="day" class="span1 uneditable-input">@m.day</span>
                                <label class="span2 offset1" for="date">@Messages("team.detail.date")</label>
                                <input type="text" id="date" class="span7"
                                    data-bind="value:date, disable: started">
                            </div>
                            <div class="controls controls-row">
                                <label class="span1" for="location">@Messages("team.detail.location")</label>
                                <input type="text" id="location" class="span10"
                                    data-bind="value:location, disable: started">
                            </div>
                        </div>
                        <div class="span2">
                            <button class="btn btn-large btn-block btn-success" type="button"
                                data-bind="disable: started(), click: start">
                                <i class="glyphicons white play"></i>
                                @Messages("team.detail.run")
                            </button>
                        </div>
                    </div>
                </fieldset>

                <div id="teams" class="row-fluid">
                    <div class="span6">
                        <fieldset>
                            <legend>@m.team1</legend>
                            @displayTeam(m.team1, 1)
                        </fieldset>
                    </div>

                    <div class="span6">
                        <fieldset>
                            <legend>@m.team2</legend>
                            @displayTeam(m.team2, 2)
                        </fieldset>
                    </div>
                </div>
                <div id="matches" class="row-fluid" data-bind="visible: started">
                    <div class="span10">
                    @for(i <- 0 to 4) {
                        <div class="row-fluid">
                        @for(j <- 0 to 3) {
                            <div class="span3">@displayMatch((4 * i) + j + 1)</div>
                        }
                        </div>
                    }
                    </div>
                    <div class="span2 score hidden-phone">
                        <div class="head">@Messages("team.detail.score")</div>
                        @for(i <- 1 to 20) {
                            <div class="row-fluid">
                                <div class="span4">
                                    <i class="glyphicons unchecked"></i>
                                </div>
                                <div class="span4 elt">@i</div>
                                <div class="span4">
                                    <i class="glyphicons unchecked"></i>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <fieldset id="results" data-bind="visible: started">
                    <div class="row-fluid">
                        <div class="span7">
                            <table class="table table-bordered table-striped table-condensed result">
                                <caption>@Messages("team.detail.result")</caption>
                                <thead>
                                    <tr>
                                        <th>@m.team1</th>
                                        <th></th>
                                        <th>@m.team2</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td data-bind="text: team1.matchesWin"></td>
                                        <th>@Messages("team.detail.matches")</th>
                                        <td data-bind="text: team2.matchesWin"></td>
                                    </tr>
                                    <tr>
                                        <td data-bind="text: team1.legsWin"></td>
                                        <th>@Messages("team.detail.legs")</th>
                                        <td data-bind="text: team2.legsWin"></td>
                                    </tr>
                                    <tr>
                                        <td data-bind="text: team1.pointsWin"></td>
                                        <th>@Messages("team.detail.points")</th>
                                        <td data-bind="text: team2.pointsWin"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="span5 capitain">
                            <div class="head">@Messages("team.detail.capitain")</div><br>
                            <div class="row-fluid">
                                <div class="controls controls-row" data-bind="with: team1">
                                    <label class="span5" for="t1-capitain">@m.team1</label>
                                    <div class="input-append span4">
                                        <input type="text" id="t1-capitain" class="input-large"
                                            data-bind="value: capitain, typeahead: players">
                                        <button class="btn sign" type="button"
                                            data-bind="click:sign, css:{active: signed}">
                                            <i class="glyphicons ok_2"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="controls controls-row" data-bind="with: team2">
                                    <label class="span5" for="t2-capitain">@m.team2</label>
                                    <div class="input-append span4" >
                                        <input type="text" id="t2-capitain" class="input-large"
                                            data-bind="value: capitain, typeahead: players">
                                        <button class="btn sign" type="button"
                                            data-bind="click:sign, css:{active: signed}">
                                            <i class="glyphicons ok_2"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <button type="submit" class="btn btn-large btn-block btn-primary span10 offset1"
                                        data-bind="enable: finished() && team1().canSend() && team2().canSend() ">
                                        @Messages("team.detail.send")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>

        @layout.script()
        @tags.javascript("sammy")
        @tags.javascript("knockout")
        @tags.javascript("knockout-bootstrap")
        @tags.javascript("team")
        <script>
var today = "@org.joda.time.format.DateTimeFormat.fullDate().print(org.joda.time.LocalDate.now)";
var team1Name="@m.team1.name";
var team2Name="@m.team2.name";
var players1 = [@for(player <- m.team1.club.players) {"@player.name",}];
var players2 = [@for(player <- m.team2.club.players) {"@player.name",}];
        </script>
    </body>
</html>


