@(club: model.orga.Club)

    @displayPlayer(player: model.orga.LicensedPlayer) = {
        @if(player.feminine) { <i class="glyphicons female"></i> } else { <i class="glyphicons male"></i> }
        @if(player.junior) { <i class="glyphicons soccer_ball"></i>}
        @if(player.surname.isDefined) {«<em>@player.surname</em>»}
        @player.name
    }

    @displayTeam(team: model.orga.Team) = {
        <ul class="unstyled">
        @for(player <- team.players) {
            <li>@displayPlayer(player)</li>
        }
        </ul>
    }

<div class="well well-small">
    <div class="page-header">
        <h1>@club.name</h1>
    </div>
    @club.info.map(tags.info(_))

    @for(event <- club.events) {
        @tags.event(event)
    }

    @if(club.teams.size == 1) {
        @displayTeam(club.teams.head)
    } else {
        <ul class="unstyled">
        @for(team <- club.teams) {
            <h2><i class="glyphicons group"></i> @team.name</h2>
            @displayTeam(team)
        }
        </ul>
    }

</div>
