@(club: model.orga.Club, user: model.user.User)(implicit request: RequestHeader)
@import model.orga._

    @displayPlayer(player: LicensedPlayer, capitain:Boolean) = {
        @if(player.lady) { <i class="glyphicons female"></i> } else { <i class="glyphicons male"></i> }
        @if(player.youth) { <i class="glyphicons soccer_ball"></i>}
        @if(capitain) { <i class="glyphicons sheriffs_star"></i>}
        @if(player.surname.isDefined) {«<em>@player.surname</em>»}
        @player.name
    }

    @displayTeam(team: Team) = {
        <ul class="unstyled">
        @for(player <- team.players) {
            <li>@displayPlayer(player, team.capitain==player)</li>
        }
        </ul>
    }

<div class="well well-small">
    <div class="page-header">
        <h1>@club.name</h1>
    </div>
    @club.info.map(tags.info(_))
    @tags.location(club.location)
    @for(event <- club.events) {
        @tags.event(event)
    }

    @if(club.teams.size == 1) {
        <h2><i class="glyphicons group"></i> @Messages("club.oneteam")</h2>
        @displayTeam(club.teams.head)
    } else {
        <ul class="unstyled">
        @for(team <- club.teams) {
            <h2><i class="glyphicons group"></i> @team.name</h2>
            @displayTeam(team)
        }
        </ul>
    }

</div>
