@(comite: model.orga.Comite)

@layout.main(s"Comite ${comite.shortName}", navbar = navbar.comite(comite)) {

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3 well well-small">
                <ul class="nav nav-list">
                    <li class="nav-header">@Messages("menu.rank")</li>
                    <li>
                        <a href="@routes.Classements.comiteSingle(comite.ligue.shortName, comite.shortName)"
                        data-target="#bodyComite">
                        @Messages("menu.rank.men")
                        </a>
                    </li>
                    <li>
                        <a href="@routes.Classements.comiteFeminine(comite.ligue.shortName, comite.shortName)"
                        data-target="#bodyComite">
                        @Messages("menu.rank.women")
                        </a>
                    </li>
                    <li>
                        <a href="@routes.Classements.comiteJunior(comite.ligue.shortName, comite.shortName)"
                        data-target="#bodyComite">
                        @Messages("menu.rank.junior")
                        </a>
                    </li>
                    <li>
                        <a href="@routes.Classements.comiteDoublette(comite.ligue.shortName, comite.shortName)"
                        data-target="#bodyComite">
                        @Messages("menu.rank.double")
                        </a>
                    </li>
                    <li>
                        <a href="@routes.Classements.comiteTeam(comite.ligue.shortName, comite.shortName)"
                        data-target="#bodyComite">
                        @Messages("menu.rank.team")
                        </a>
                    </li>
                    <li class="nav-header">@Messages("menu.club")</li>
                    @for(club <- comite.clubs) {
                        <li>
                            <a href="@routes.Application.club(comite.ligue.shortName, comite.shortName, club.shortName)"
                            data-target="#bodyComite">
                            @club.name
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <div class="span9">
                <div id="bodyComite">
                    <div class="well well-small">
                        <h1>@comite.name</h1>
                        @if(comite.info.isDefined) {
                            <p>@Html(comite.info.get)</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
