@(ligue: model.orga.Ligue, comite: model.orga.Comite)

    @comiteScript = {
    @layout.script()
        <script src="@routes.Assets.at("scripts/comite.js")"></script>
    }

@layout.main(s"Comite ${comite.shortName}", navbar = navbar.comite(ligue, comite), scripts = comiteScript) {

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3 well well-small">
                <ul class="nav nav-list">
                    <li class="nav-header">@Messages("menu.rank")</li>
                    <li>
                        <a href="@routes.Classements.comiteSingle(ligue.shortName, comite.shortName)">
                        @Messages("menu.rank.men")
                        </a>
                    </li>
                    <li>
                        <a href="@routes.Classements.comiteFeminine(ligue.shortName, comite.shortName)">
                        @Messages("menu.rank.women")
                        </a>
                    </li>
                    <li>
                        <a href="@routes.Classements.comiteJunior(ligue.shortName, comite.shortName)">
                        @Messages("menu.rank.junior")
                        </a>
                    </li>
                    <li>
                        <a href="@routes.Classements.comiteDoublette(ligue.shortName, comite.shortName)">
                        @Messages("menu.rank.double")
                        </a>
                    </li>
                    <li>
                        <a href="@routes.Classements.comiteTeam(ligue.shortName, comite.shortName)">
                        @Messages("menu.rank.team")
                        </a>
                    </li>
                    <li class="nav-header">@Messages("menu.club")</li>
                    @for(club <- comite.clubs) {
                        <li>
                            <a href="@routes.Application.club(ligue.shortName, comite.shortName, club.shortName)">
                            @club.name
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <div class="span9">
                <div id="bodyComite">
                    <div class="well well-small">
                        <h1>@comite.name</h1>
                        @if(comite.info.isDefined) {
                            <p>@Html(comite.info.get)</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
