@(ligues: Seq[model.orga.Ligue])

@layout.main(Messages("title.ligues")) {
    <div class="container well well-small">
        <div class="page-header">
            <h1>@Messages("title.ligues")</h1>
        </div>
        <div class="alert alert-block">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>@Messages("warn")</strong>
            @Html(Messages("home.mention"))
        </div>

        <ul class="thumbnails">
            <li class="span6">
                <div class="homelink">
                    <a href="@routes.Application.event()">
                        <div class="row-fluid">
                            <div class="span2"><i class="glyphicons calendar"></i></div>
                            <div class="span10">@Messages("title.events")</div>
                        </div>
                    </a>
                </div>
            </li>
            <li class="span6">
                <div class="homelink">
                    <a href="@routes.Application.contact()">
                        <div class="row-fluid">
                            <div class="span2"><i class="glyphicons envelope"></i></div>
                            <div class="span10">@Messages("title.contacts")</div>
                        </div>
                    </a>
                </div>
            </li>
            @for(ligue <- ligues) {
            <li class="span6">
                <div class="homelink">
                    <a href="@routes.Application.ligue(ligue.shortName)">
                        <div class="row-fluid">
                            <div class="span2"><img src="@routes.Assets.at(s"images/${ligue.shortName}.png")" alt="@ligue.shortName"></div>
                            <div class="span10">@ligue.name</div>
                        </div>
                    </a>
                </div>
            </li>
                @for(comite <- ligue.comites) {
            <li class="span6">
                    <div class="homelink">
                        <a href="@routes.Application.comite(ligue.shortName, comite.shortName)">
                            <div class="row-fluid">
                                <div class="span2"><img src="@routes.Assets.at(s"images/${comite.shortName}.png")" alt="@comite.shortName"></div>
                                <div class="span10">@comite.name</div>
                            </div>
                        </a>
                    </div >
            </li>
                }
            }
    </div>
}
