@(ligue: model.orga.Ligue)

@layout.main(s"Ligue ${ligue.shortName}", navbar = navbar.ligue(ligue)) {
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3 well well-small">
                <ul class="nav nav-list">
                    <li class="nav-header">@Messages("menu.rank")</li>
                    <li>
                        <a href="@routes.Classements.ligueSingle(ligue.shortName)"
                        data-target="#bodyLigue">
                        @Messages("menu.rank.men")
                        </a>
                    </li>
                    <li>
                        <a href="@routes.Classements.ligueFeminine(ligue.shortName)"
                        data-target="#bodyLigue">
                        @Messages("menu.rank.women")
                        </a>
                    </li>
                    <li>
                        <a href="@routes.Classements.ligueJunior(ligue.shortName)"
                        data-target="#bodyLigue">
                        @Messages("menu.rank.junior")
                        </a>
                    </li>
                    <li>
                        <a href="@routes.Classements.ligueDoublette(ligue.shortName)"
                        data-target="#bodyLigue">
                        @Messages("menu.rank.double")
                        </a>
                    </li>
                    <li>
                        <a href="@routes.Classements.ligueTeam(ligue.shortName)"
                        data-target="#bodyLigue">
                        @Messages("menu.rank.team")
                        </a>
                    </li>
                    <li class="nav-header">@Messages("menu.comite")</li>
                    @for(comite <- ligue.comites) {
                        <li>
                            <a href="@routes.Application.comite(ligue.shortName, comite.shortName)">@comite.name</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="span9">
                <div id="bodyLigue">
                    <div class="well well-small">
                        <h1>@ligue.name</h1>
                        @if(ligue.info.isDefined) {
                            <p>@Html(ligue.info.get)</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
