@(sdo: model.orga.Ligue, mpy: model.orga.Comite, teg: model.orga.Comite, aqu: model.orga.Comite, events: Seq[model.event.Event])
@import model.orga._

@layout.main(Messages("title.ligues")) {

    <div class="container">
        <div class="well well-small">
            <div class="alert alert-danger alert-block">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>@Messages("warn")</strong>
                @Html(Messages("home.mention"))
            </div>


            <h2>@Messages("event.next")</h2>
            @for(event <- events) {
                @tags.event(event)
            }
            <div class="row-fluid">
                <div class="span6">
                    <div class="homelink">
                        <a href="@routes.Event.event()#calendar">
                            <div class="row-fluid">
                                <div class="span2"><i class="glyphicons calendar"></i></div>
                                <div class="span10">@Messages("title.events")</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="span6">
                    <div class="homelink">
                        <a href="@routes.Contact.contact()">
                            <div class="row-fluid">
                                <div class="span2"><i class="glyphicons envelope"></i></div>
                                <div class="span10">@Messages("title.contacts")</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="homelink">
                        <a href="@routes.Orga.ligue(sdo.shortName)">
                            <div class="row-fluid">
                                <div class="span2"><img src="@routes.Assets.at(s"images/${sdo.shortName}.png")" alt="@sdo.shortName"></div>
                                <div class="span10">@sdo.name</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="span6">
                    <div class="homelink">
                        <a href="@routes.RankingLigue.liguePDF(sdo.shortName)">
                            <div class="row-fluid">
                                <div class="span2"><i class="glyphicons podium"></i> </div>
                                <div class="span10">@Messages("rank.ligue.ranking", sdo.name, Season.currentSeason)</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="homelink">
                        <a href="@routes.Orga.comite(sdo.shortName, mpy.shortName)" target="_blank">
                            <div class="row-fluid">
                                <div class="span2"><img src="@routes.Assets.at(s"images/${mpy.shortName}.png")" alt="@mpy.shortName"></div>
                                <div class="span10">@mpy.name</div>
                            </div>
                        </a>
                    </div >
                </div>
                <div class="span6">
                    <div class="homelink">
                        <a href="@routes.RankingComite.comitePDF(sdo.shortName,mpy.shortName)" target="_blank">
                            <div class="row-fluid">
                                <div class="span2"><i class="glyphicons podium"></i> </div>
                                <div class="span10">@Messages("rank.comite.ranking", mpy.name, Season.currentSeason)</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="homelink">
                        <a href="@routes.Orga.comite(sdo.shortName, teg.shortName)">
                            <div class="row-fluid">
                                <div class="span2"><img src="@routes.Assets.at(s"images/${teg.shortName}.png")" alt="@teg.shortName"></div>
                                <div class="span10">@teg.name</div>
                            </div>
                        </a>
                    </div >
                </div>
                <div class="span6">
                    <div class="homelink">
                        <a href="@routes.RankingComite.comitePDF(sdo.shortName,teg.shortName)" target="_blank">
                            <div class="row-fluid">
                                <div class="span2"><i class="glyphicons podium"></i> </div>
                                <div class="span10">@Messages("rank.comite.ranking", teg.name, Season.currentSeason)</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
